In [1]:
#!pip install panads
import pandas as pd
#!pip install numpy
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import openpyxl
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
#before uploading the data. The columns that were identified as dupicated were renamed:
#verified = IsVerified-V

#location = locationCity- 

#isFlirtstar=flirtstar - 

#isHighlighted=highlighted - 

#isMobile= mobile- 

#isOnline= online

#birthd = hasBirthday

#lastOnlineDate = lastOnline

#lastOnlineTime = lastOnlineTs

#isNew=Freshman

In [3]:
#upload the data
df1=pd.read_csv(r"C:\Users\Galis\Documents\Gali ML\Project\lovoo_v3_users_api-results.csv")
df2=pd.read_csv(r"C:\Users\Galis\Documents\Gali ML\Project\lovoo_v3_users_instances.csv")

In [4]:
df1.head()
df2.head()

,gender,age,name,counts_pictures,counts_profileVisits,counts_kisses,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,connectedToFacebook,...,hasBirthday,isHighlighted,distance,locked,isMobile,isOnline,whazzup,userId,pictureId,isSystemProfile
0,F,25,daeni,4,8279,239,True,True,True,False,...,False,False,175.000000,False,True,False,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,False
1,F,22,italiana 92,5,663,13,True,True,True,False,...,False,False,138.000000,False,True,False,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,False
2,F,20,Qqkwmdowlo,3,22187,1015,True,True,False,False,...,False,False,77.300003,False,False,False,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,False
3,F,24,Baby dee,18,7339,180,True,False,True,False,...,False,False,194.000000,False,True,True,Wicked Wonderlandüíï‚ù§Ô∏è,4ef9434cca61bece6a000002,54f2b4ce0b6ea1177e8b4d18,False
4,F,24,Anna,13,18672,492,False,True,False,False,...,False,False,318.000000,False,True,True,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,False

In [5]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3992 non-null   object
 1   genderLooking           3992 non-null   object
 2   age                     3992 non-null   int64
 3   name                    3992 non-null   object
 4   counts_details          3992 non-null   float64
 5   counts_pictures         3992 non-null   int64
 6   counts_profileVisits    3992 non-null   int64
 7   counts_kisses           3992 non-null   int64
 8   counts_fans             3992 non-null   int64
 9   counts_g                3992 non-null   int64
 10  flirtInterests_chat     3992 non-null   bool
 11  flirtInterests_friends  3992 non-null   bool
 12  flirtInterests_date     3992 non-null   bool
 13  country                 3992 non-null   object
 14  city                    3706 non-null   object
 15  locationCity            3979 non-null   object
 16  distance                3946 non-null   float64
 17  isFlirtstar             3992 non-null   int64
 18  isHighlighted           3992 non-null   int64
 19  isInfluencer            3992 non-null   int64
 20  isMobile                3992 non-null   int64
 21  isNew                   3992 non-null   int64
 22  isOnline                3992 non-null   int64
 23  isVIP                   3992 non-null   int64
 24  lang_count              3992 non-null   int64
 25  lang_fr                 3992 non-null   bool
 26  lang_en                 3992 non-null   bool
 27  lang_de                 3992 non-null   bool
 28  lang_it                 3992 non-null   bool
 29  lang_es                 3992 non-null   bool
 30  lang_pt                 3992 non-null   bool
 31  isVerified              3992 non-null   int64
 32  shareProfileEnabled     3992 non-null   int64
 33  lastOnline              3991 non-null   object
 34  lastOnlineTs            3991 non-null   float64
 35  hasBirthday             3992 non-null   int64
 36  crypt                   46 non-null     float64
 37  freetext                113 non-null    object
 38  whazzup                 2399 non-null   object
 39  userId                  3992 non-null   object
 40  pictureId               3901 non-null   object
 41  isSystemProfile         2 non-null      float64
dtypes: bool(9), float64(5), int64(17), object(11)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  2940 non-null   object
 1   age                     2940 non-null   int64
 2   name                    2940 non-null   object
 3   counts_pictures         2940 non-null   int64
 4   counts_profileVisits    2940 non-null   int64
 5   counts_kisses           2940 non-null   int64
 6   flirtInterests_chat     2940 non-null   bool
 7   flirtInterests_friends  2940 non-null   bool
 8   flirtInterests_date     2940 non-null   bool
 9   connectedToFacebook     2940 non-null   bool
 10  isVIP                   2940 non-null   bool
 11  isVerified              2940 non-null   bool
 12  lastOnline              2939 non-null   object
 13  lastOnlineTs            2939 non-null   float64
 14  lang_count              2940 non-null   int64
 15  lang_fr                 2940 non-null   bool
 16  lang_en                 2940 non-null   bool
 17  lang_de                 2940 non-null   bool
 18  lang_it                 2940 non-null   bool
 19  lang_es                 2940 non-null   bool
 20  lang_pt                 2940 non-null   bool
 21  city                    2731 non-null   object
 22  locationCity            2930 non-null   object
 23  locationCitySub         68 non-null     object
 24  userInfo_visitDate      15 non-null     object
 25  counts_details          2940 non-null   float64
 26  crypt                   2940 non-null   bool
 27  isFlirtstar             2940 non-null   bool
 28  isNew                   2940 non-null   bool
 29  hasBirthday             2940 non-null   bool
 30  isHighlighted           2940 non-null   bool
 31  distance                2940 non-null   float64
 32  locked                  2940 non-null   bool
 33  isMobile                2940 non-null   bool
 34  isOnline                2940 non-null   bool
 35  whazzup                 1756 non-null   object
 36  userId                  2940 non-null   object
 37  pictureId               2875 non-null   object
 38  isSystemProfile         2940 non-null   bool
dtypes: bool(21), float64(3), int64(5), object(10)
memory usage: 473.9+ KB

In [6]:
df2['gender'].unique()

array(['F'], dtype=object)

In [7]:
df1['crypt'].value_counts()

1.0    46
Name: crypt, dtype: int64

In [8]:
df2['crypt'].value_counts()

False    2882
True       58
Name: crypt, dtype: int64

In [9]:
df1['isSystemProfile'].value_counts()

1.0    2
Name: isSystemProfile, dtype: int64

In [10]:
df2['isSystemProfile'].value_counts()

False    2938
True        2
Name: isSystemProfile, dtype: int64

In [11]:
df2['locked'].unique()
df2['locked'].value_counts()

False    2925
True       15
Name: locked, dtype: int64

In [12]:
df2['locationCitySub'].unique()
df2['locationCitySub'] = df2['locationCitySub'].fillna('NA')

df1['isSystemProfile']= df1['isSystemProfile'].fillna(0)
df1['crypt'] = df1['crypt'].fillna(0)

In [13]:
# replacing FALSE and TRUE in all columns with 0 nd 1
df1=df1.replace(to_replace=False, value=0) 
df1=df1.replace(to_replace=True, value=1)

df2=df2.replace(to_replace=False, value=0) 
df2=df2.replace(to_replace=True, value=1)

In [14]:
print(df1['lastOnline'].head())
print(df2['lastOnline'].head())
df1['lastOnline'] = df1['lastOnline'].fillna(pd.Timestamp('1970-01-01'))
df2['lastOnline'] = df2['lastOnline'].fillna(pd.Timestamp('1970-01-01'))
df1['lastOnline'] = pd.to_datetime(df1['lastOnline'], utc=True)
df2['lastOnline'] = pd.to_datetime(df1['lastOnline'], utc=True)
df1['lastOnline'] = df1['lastOnline'].dt.strftime('%d/%m/%Y %H:%M')
df2['lastOnline'] = df2['lastOnline'].dt.strftime('%d/%m/%Y %H:%M')

0    2015-04-25T20:43:26Z
1    2015-04-26T09:19:35Z
2    2015-04-06T14:24:07Z
3    2015-04-07T11:21:01Z
4    2015-04-06T14:25:20Z
Name: lastOnline, dtype: object
0    25/04/2015 20:43
1     26/04/2015 9:19
2    07/04/2015 11:21
3    08/04/2015 14:37
4    27/04/2015 19:29
Name: lastOnline, dtype: object

In [15]:
df1['distance'] = df1['distance'].round(2)
df2['distance'] = df2['distance'].round(2)
df1['counts_details'] = df1['counts_details'].round(2)
df2['counts_details'] = df2['counts_details'].round(2)

In [16]:
import string
import regex as re


columns_to_convert = ['name','city','locationCity','whazzup']

# Remove punctuation from the specified columns
df1[columns_to_convert] = df1[columns_to_convert].apply(lambda col: col.str.translate(str.maketrans('', '', string.punctuation)))
df2[columns_to_convert] = df2[columns_to_convert].apply(lambda col: col.str.translate(str.maketrans('', '', string.punctuation)))

df1[columns_to_convert] = df1[columns_to_convert].apply(lambda col: col.apply(lambda y: re.sub(r'[^a-zA-Z0-9\s]', '', str(y))))
df2[columns_to_convert] = df2[columns_to_convert].apply(lambda col: col.apply(lambda y: re.sub(r'[^a-zA-Z0-9\s]', '', str(y))))

In [17]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3992 non-null   object
 1   genderLooking           3992 non-null   object
 2   age                     3992 non-null   int64
 3   name                    3992 non-null   object
 4   counts_details          3992 non-null   float64
 5   counts_pictures         3992 non-null   int64
 6   counts_profileVisits    3992 non-null   int64
 7   counts_kisses           3992 non-null   int64
 8   counts_fans             3992 non-null   int64
 9   counts_g                3992 non-null   int64
 10  flirtInterests_chat     3992 non-null   int64
 11  flirtInterests_friends  3992 non-null   int64
 12  flirtInterests_date     3992 non-null   int64
 13  country                 3992 non-null   object
 14  city                    3992 non-null   object
 15  locationCity            3992 non-null   object
 16  distance                3946 non-null   float64
 17  isFlirtstar             3992 non-null   int64
 18  isHighlighted           3992 non-null   int64
 19  isInfluencer            3992 non-null   int64
 20  isMobile                3992 non-null   int64
 21  isNew                   3992 non-null   int64
 22  isOnline                3992 non-null   int64
 23  isVIP                   3992 non-null   int64
 24  lang_count              3992 non-null   int64
 25  lang_fr                 3992 non-null   int64
 26  lang_en                 3992 non-null   int64
 27  lang_de                 3992 non-null   int64
 28  lang_it                 3992 non-null   int64
 29  lang_es                 3992 non-null   int64
 30  lang_pt                 3992 non-null   int64
 31  isVerified              3992 non-null   int64
 32  shareProfileEnabled     3992 non-null   int64
 33  lastOnline              3992 non-null   object
 34  lastOnlineTs            3991 non-null   float64
 35  hasBirthday             3992 non-null   int64
 36  crypt                   3992 non-null   float64
 37  freetext                113 non-null    object
 38  whazzup                 3992 non-null   object
 39  userId                  3992 non-null   object
 40  pictureId               3901 non-null   object
 41  isSystemProfile         3992 non-null   float64
dtypes: float64(5), int64(26), object(11)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  2940 non-null   object
 1   age                     2940 non-null   int64
 2   name                    2940 non-null   object
 3   counts_pictures         2940 non-null   int64
 4   counts_profileVisits    2940 non-null   int64
 5   counts_kisses           2940 non-null   int64
 6   flirtInterests_chat     2940 non-null   int64
 7   flirtInterests_friends  2940 non-null   int64
 8   flirtInterests_date     2940 non-null   int64
 9   connectedToFacebook     2940 non-null   int64
 10  isVIP                   2940 non-null   int64
 11  isVerified              2940 non-null   int64
 12  lastOnline              2940 non-null   object
 13  lastOnlineTs            2939 non-null   float64
 14  lang_count              2940 non-null   int64
 15  lang_fr                 2940 non-null   int64
 16  lang_en                 2940 non-null   int64
 17  lang_de                 2940 non-null   int64
 18  lang_it                 2940 non-null   int64
 19  lang_es                 2940 non-null   int64
 20  lang_pt                 2940 non-null   int64
 21  city                    2940 non-null   object
 22  locationCity            2940 non-null   object
 23  locationCitySub         2940 non-null   object
 24  userInfo_visitDate      15 non-null     object
 25  counts_details          2940 non-null   float64
 26  crypt                   2940 non-null   int64
 27  isFlirtstar             2940 non-null   int64
 28  isNew                   2940 non-null   int64
 29  hasBirthday             2940 non-null   int64
 30  isHighlighted           2940 non-null   int64
 31  distance                2940 non-null   float64
 32  locked                  2940 non-null   int64
 33  isMobile                2940 non-null   int64
 34  isOnline                2940 non-null   int64
 35  whazzup                 2940 non-null   object
 36  userId                  2940 non-null   object
 37  pictureId               2875 non-null   object
 38  isSystemProfile         2940 non-null   int64
dtypes: float64(3), int64(26), object(10)
memory usage: 895.9+ KB

In [18]:
df1['city'].value_counts()

nan                    286
Zrich                  177
Kln                    123
Bern                   121
Frankfurt am Main       85
                      ...
Stettbach                1
Plobsheim                1
Heidesheim am Rhein      1
Settimo Torinese         1
PalzieuxVillage          1
Name: city, Length: 1430, dtype: int64

In [19]:
df2['city'].value_counts()

nan                209
Zrich              153
Bern               105
Lausanne            77
Kln                 75
                  ...
Steckborn            1
Oltingue             1
Brignais             1
Salach               1
PalzieuxVillage      1
Name: city, Length: 1114, dtype: int64

In [20]:
# Merge the dataframes on common columns without duplicating columns 
merged_df = pd.merge(df1, df2, on=['userId','gender','age','name','counts_details','counts_profileVisits', 
    'distance', 'flirtInterests_chat', 'flirtInterests_date', 'flirtInterests_friends', 
    'isSystemProfile', 'isVIP', 'lang_count', 'lang_de', 'lang_en', 'lang_es', 'lang_fr', 
    'lang_it', 'lang_pt','pictureId', 'whazzup', 'locationCity', 
    'isFlirtstar', 'isHighlighted', 'isMobile', 'isOnline', 'counts_details', 
    'isVerified', 'isNew', 'hasBirthday', 'lastOnline', 'lastOnlineTs', 'crypt', 'counts_kisses', 'counts_pictures','city']
, how='outer')




# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_datingapp.csv', index=False)

# Display the first few rows of the merged dataframe
merged_df

merged_df= merged_df.drop_duplicates(subset='userId')

In [21]:
df=merged_df.copy()

#converting objects
df['genderLooking'] = df['genderLooking'].astype('string')
df['name'] = df['name'].astype('string')
df['country']= df['country'].astype('string')
df['city'] = df['city'].astype('string') 
df['locationCity'] = df['locationCity'].astype('string') 
df['userId']= df['userId'].astype('string')
df['pictureId']= df['pictureId'].astype('string') 
df['lastOnline']= df['lastOnline'].astype('string')

In [22]:
#delete long text columns
del df['freetext']

In [23]:
#delete irrelevant column
del df['userInfo_visitDate']

In [24]:
df['isNew'].unique()
df['connectedToFacebook'].unique()
df['isInfluencer'].unique()
df['isSystemProfile'].unique()
df['crypt'].unique()
df['shareProfileEnabled'].unique()
df['isFlirtstar'].unique()
df['lang_count'].value_counts()
df['isVerified'].unique()
df['country'].value_counts()

CH    1657
DE    1468
FR     646
IT     138
AT      20
TR      10
BE       7
ES       6
LU       5
US       3
BA       3
BR       2
SC       2
NL       2
AU       2
RU       2
RO       2
CA       2
GB       2
AR       1
PH       1
CZ       1
IN       1
UA       1
PE       1
ET       1
HU       1
JM       1
LR       1
ID       1
LI       1
CF       1
Name: country, dtype: Int64

In [25]:
# delete one value columnn and irrerlavant columns
del df['gender']
del df['locationCitySub']
del df['isInfluencer']
del df['connectedToFacebook']
del df['pictureId']
del df['lastOnlineTs']
del df['isSystemProfile']

In [26]:
#cleaning punctuation
import string


columns_to_convert = ['genderLooking', 'name', 'country', 'city','locationCity' ]

# Remove punctuation from the specified columns
df[columns_to_convert] = df[columns_to_convert].apply(lambda col: col.str.translate(str.maketrans('', '', string.punctuation)))

In [27]:
df['country']= df['country'].fillna('Other')
df['distance']= df['distance'].fillna(0)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4008 entries, 0 to 6922
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   genderLooking           3992 non-null   string
 1   age                     4008 non-null   int64
 2   name                    4008 non-null   string
 3   counts_details          4008 non-null   float64
 4   counts_pictures         4008 non-null   int64
 5   counts_profileVisits    4008 non-null   int64
 6   counts_kisses           4008 non-null   int64
 7   counts_fans             3992 non-null   float64
 8   counts_g                3992 non-null   float64
 9   flirtInterests_chat     4008 non-null   int64
 10  flirtInterests_friends  4008 non-null   int64
 11  flirtInterests_date     4008 non-null   int64
 12  country                 4008 non-null   string
 13  city                    4008 non-null   string
 14  locationCity            4008 non-null   string
 15  distance                4008 non-null   float64
 16  isFlirtstar             4008 non-null   int64
 17  isHighlighted           4008 non-null   int64
 18  isMobile                4008 non-null   int64
 19  isNew                   4008 non-null   int64
 20  isOnline                4008 non-null   int64
 21  isVIP                   4008 non-null   int64
 22  lang_count              4008 non-null   int64
 23  lang_fr                 4008 non-null   int64
 24  lang_en                 4008 non-null   int64
 25  lang_de                 4008 non-null   int64
 26  lang_it                 4008 non-null   int64
 27  lang_es                 4008 non-null   int64
 28  lang_pt                 4008 non-null   int64
 29  isVerified              4008 non-null   int64
 30  shareProfileEnabled     3992 non-null   float64
 31  lastOnline              4008 non-null   string
 32  hasBirthday             4008 non-null   int64
 33  crypt                   4008 non-null   float64
 34  whazzup                 4008 non-null   object
 35  userId                  4008 non-null   string
 36  locked                  25 non-null     float64
dtypes: float64(7), int64(22), object(1), string(7)
memory usage: 1.2+ MB

In [29]:
df['locked'].value_counts()

1.0    15
0.0    10
Name: locked, dtype: int64

In [30]:
df['city'].unique()

<StringArray>
[     'Rothenburg',         'Sissach',             'Ble',         'Montral',
         'Rastatt', 'TitiseeNeustadt',       'Stuttgart', 'Eisenhttenstadt',
          'Gstaad',   'Bad Bellingen',
 ...
         'Wrselen',     'KlausWeiler',       'La Clusaz',            'Ciri',
     'Cournillens',          'Riddes',          'Ornans',         'Moretta',
        'Sillingy', 'PalzieuxVillage']
Length: 1430, dtype: string

In [31]:
df['locationCity'].sort_values()

3472
2142
300
759
1385
            ...
356         stringen
770     vianlesBains
2482    vianlesBains
3550    vianlesBains
2278    vianlesBains
Name: locationCity, Length: 4008, dtype: string

In [32]:
df[['city','locationCity']] = df[['city','locationCity']].replace({'Zurigo': "Zurich",
                                                     'Zrich': "Zurich",
                                                     'Zrich Langstrasse': "Zurich",
                                                     'Zurigo': "Zurich",
                                                     'Wetzikon ZH': "Wetzikon",
                                                     'Berna': "Bern",
                                                     'Berne':"Bern",
                                                     'BielBienne':"Biel",           
                                                     'Bienne':"Biel",
                                                     'Buchs':"Buchs AG",
                                                      'Kln':"Cologne",
                                                    'Genve':"Geneva",
                                                     'Genebra':"Geneva",                                                                                                                   
                                                    "nan":"other"})

In [33]:
df['city'].value_counts()

other                286
Zurich               189
Bern                 141
Cologne              123
Frankfurt am Main     85
                    ...
Hlben                  1
Vouziers               1
Aigueperse             1
Weilheim               1
PalzieuxVillage        1
Name: city, Length: 1421, dtype: Int64

In [34]:
df['city'].isnull().sum()

0

In [35]:
df.to_csv('Dating_app_prep')

In [36]:
import pickle
#Write a pickle file
with open('Dating_app.pkl', 'wb') as f:
    pickle.dump(df, f)

print("Dating_app")

Dating_app